export GOPATH=$HOME/go
export ANDROID_HOME=$HOME/AndroidSDK
export PATH=$PATH:"/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/heroku/bin:/usr/local/go/bin:$GOPATH/bin:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools"
